@use 'colors';

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    font-family: 'Lato', sans-serif;
    background-color: colors.$grey;
    padding: 10px 20px;
    margin: 0 auto;
}
