@use 'colors';
@use 'gallery';

.bio {
    color: colors.$complementary;
    text-align: left;
    margin: 0 30px;
}

.bio__subheading {
    font-style: italic;
}

.bio__content {
    font-size: 14px;
}

.bio__image {
    width: 100%;
}