@use 'colors';

.gallery__header {
    color: colors.$primary;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gallery__photopreview {
    width: 100%;
}