@use 'colors';

// gallery header

.gallery__header {
    color: colors.$primary;
    text-align: left;
}

// gallery description setting and grid layout

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gallery__photopreview {
    width: 100%;
}

.gallery img {
    margin-top: 0;
}

.photo {
    position: relative;
    overflow: hidden;
}

.photo__image {
    width: 100%;
    display: block;
    transition: transform 0.5s;
    margin-top: 0;
}

.photo__description {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    transition: transform 0.5s;
}

.photo__description p {
    margin: 0;
    color: white;
    font-size: 14px;
}

.photo__description a {
    color: white;
}

// photos hover animation

.photo:hover .photo__description {
    transform: translateY(-100%);
}

.photo:hover .photo__image {
    transform: scale(1.1); 
}