@use 'colors';

// header

.header {
    display: grid;
	grid-template-columns: 1fr 1fr;
	border-bottom: 1px solid colors.$primary;
	padding-bottom: 8px;
	margin-bottom: 20px;
}

.header__logo {
	max-height: 50px;
}

.header__link {
	grid-column: 1 / 2;
}

// menu

.menu {
    width: auto;
	justify-self: end;
	grid-column: 2 / -1;
}

.menu__links {
	display: flex;
	justify-content: center;
	column-gap: 5px;
}

// hamburger menu

.menu__checkbox {
	display: none;
	// makes display: none;
}

.menu__toggler {
	cursor: pointer;
	display: grid;
	justify-items: auto;
	gap: 10px;
	color: colors.$primary;
	font-size: 30px;
}

.menu__list {
	max-height: 0px;
  	overflow: hidden; // different checkbox hack principal - possible also with display:none and display:block when checkbox is checked
  	list-style: none;
  	transition: all 1s cubic-bezier(.325, 1, .22, 1);
	// display: none;
	margin: 10px 0 0 0;
	padding: 0;
	background-color: colors.$grey;
    text-align: center;
    position: absolute;
    left: 0;
    width: 100vw;
    z-index: 2;
	opacity: 0.9;
}

.menu__item {
	border-bottom: 1px solid colors.$primary;
}

.menu__link {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: colors.$complementary;
	font-weight: bold;
	text-transform: capitalize;
}

.menu__checkbox:checked ~ .menu__list { // different checkbox hack principal - possible also with display:none and display:block when checkbox is checked
	height: auto;
  	max-height: 20rem;
  	transition: all 1s cubic-bezier(.5, 1, .22, 1);
	// display: block;
}

// :hover properties of menu

.menu__link:hover {
	background-color: colors.$primary;
	color: colors.$grey;
	transition: 0.2s; // not very visible, but makes :hover smoother
}

.menu__link:hover svg {
	fill: colors.$grey;
	transition: 0.2s; // not very visible, but makes :hover smoother
}

// Not working, because when activating the animation rolling down menu is sticked to toggler and animates with it. 

// .menu:active {
//     animation: rotate 1s;
// }

// @keyframes rotate{
//     0%{
//         transform: rotate(0deg);
//     }
//     50%{
//         transform: rotate(90deg);
//     }
//     100%{
//         transform: rotate(0deg);
//     }
// }