@use 'colors';

// header

.header {
    display: grid;
	grid-template-columns: 1fr 1fr;
}

.header__logo {
	max-height: 40px;
}

.header__link {
	grid-column: 1 / 2;
}

// menu

.menu {
    width: auto;
	justify-self: end;
	grid-column: 2 / -1;
}

.menu__links {
	display: flex;
	justify-content: space-evenly;
}

// hamburger menu

.menu__checkbox {
	position: absolute;
	left: -9999px;
	// makes display: none;
}

.menu__toggler {
	cursor: pointer;
	display: grid;
	justify-items: auto;
	gap: 10px;
	color: colors.$primary;
	font-size: 26px;
}

.menu__list {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: colors.$grey;
    text-align: center;
    position: absolute;
    left: 0;
    width: 100vw;
    z-index: 2;
}

.menu__item {
	border-bottom: 1px solid colors.$primary;
}

.menu__link {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: colors.$complementary;
	font-weight: bold;
	text-transform: capitalize;
}


.menu__checkbox:checked ~ .menu__list {
	display: block;
}


// Not working, because when activating the animation rolling down menu is sticked to toggler and animates with it. 

// .menu:active {
//     animation: rotate 1s;
// }

// @keyframes rotate{
//     0%{
//         transform: rotate(0deg);
//     }
//     50%{
//         transform: rotate(90deg);
//     }
//     100%{
//         transform: rotate(0deg);
//     }
// }